@media screen {
    body {
        /* Set colours. */
        background-color: white;
        color: black;
        /* Base sizes. */
        font-size: 16px;
        /* Bigger left margin, for sitemap and toc. */
        margin-left: 29em;
        width: 48em;
        /* Make sure footer won't cover last few lines of document. */
        margin-bottom: 2.5em;
    }
    h1 {
        margin-top: 0.5em;
    }

    /* Make emphasised text same colour as normal text. */
    em, strong {
        color: black;
    }
    /* Make emphasised "code" brighter. */
    code em, code strong, pre em, pre strong, .monospaced em, .monospaced strong {
        color: blue;
    }

    /* Make code font a little smaller. */
    div.listingblock pre, div.literalblock pre
    {
        font-size: 14px;
    }

    /* Tone down the colours for links. */
    a:link {
        color: #000080;
    }
    a:visited {
        color: #800080;
    }

    /* Links to glossary entries. */
    a.glossary-link:link , a.glossary-link:visited {
        color: black;
    }
    a.glossary-link  {
        text-decoration: none;
        border-bottom: 1px dashed grey;
    }
    *.title a.glossary-link:link , h1 a.glossary-link:link , h2 a.glossary-link:link , h3 a.glossary-link:link , h4 a.glossary-link:link , h5 a.glossary-link:link , h6 a.glossary-link :link, *.title a.glossary-link:visited , h1 a.glossary-link:visited , h2 a.glossary-link:visited , h3 a.glossary-link:visited , h4 a.glossary-link:visited , h5 a.glossary-link:visited , h6 a.glossary-link :visited {
        color: #527BBD;
    }

    /* Add in sitemap to the left of the toc */
    #sitemaptitle {
        display: block;
        color: #527BBD;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.3em;
        margin-top: 0.5em;
    }
    #sitemap {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        font-size: 14px;
        width: 9em; /* at 14px, as opposed to body margin which is at 16px */
        padding: 0.5em;
        padding-bottom: 1.5em;
        margin: 0;
        overflow: auto;
        border-right: 3px solid #EEEEEE;
        background-color: #E0E0E0;
    }
    #sitemap ul {
        padding-left: 0;
    }
    #sitemap ul ul {
        padding-left: 1em;
    }
    #sitemap li {
        padding: 0.2em 0em;
    }

    #toc {
        /* Indent the toc to leave space for the sitemap. */
        left: 10em;
        /* Make text smaller and space larger, so it's easier to read on 1280x1024 monitor. */
        font-size: 14px;
        width: 20em; /* at 14px, as opposed to body margin which is at 16px */
        /* Adjust colours. */
        background-color: #F4F4F4;
        border-right-color: #EEEEEE;
    }

    /* Adjust indents, for numbered headings */
    #toc .toclevel1 {
        margin-left: 0;
        text-indent: 0;
    }
    #toc .toclevel2 {
        margin-left: 4em;
        text-indent: -3em;
        display: block;
    }
    #toc .toclevel3 {
        margin-left: 7em;
        text-indent: -4em;
    }

    /* Make sitemap/toc links underlined only on hover. */
    #toc a, #sitemap a {
        text-decoration: none;
    }
    #toc a:hover, #sitemap a:hover {
        text-decoration: underline;
    }

    /* Make footer fixed-pos, same font as body, and tweak size and colours. */
    #footer {
        font-family: Georgia,serif;
        font-size: 16px;
        position: fixed;
        bottom: 0;
        height: 1.5em;
        width: 48em;
        border-top: 3px solid #f8f8f8;
        background-color: #F4F4F4;
        border-top-color: #EEEEEE;
        margin-left: -0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    #footer-text {
        font-size: small;
    }
}