@media screen {
    body {
        background-color: white;
        color: black;
        margin-left: 20em;
        margin-bottom: 2.5em;
    }

    em {
        color: black;
    }

    p code, td code, div.listingblock pre {
        font-size: smaller;
    }

    a:link {
        color: #0000FF;
    }
    a:visited {
        color: #6000C0;
    }

    #toc {
        font-size: 14px;
        width: 20em; /* at 14px, as opposed to body margin which is at 16px */
        background-color: #F4F4F4;
        border-right-color: #EEEEEE;
    }

    #toc .toclevel1 {
        margin-left: 0;
        text-indent: 0;
    }

    #toc .toclevel2 {
        margin-left: 4em;
        text-indent: -3em;
        display: block;
    }

    #toc .toclevel3 {
        margin-left: 7em;
        text-indent: -4em;
    }

    #toc a {
        text-decoration: none;
    }
    #toc a:hover {
        text-decoration: underline;
    }

    #footer {
        font-family: Georgia,serif;
        font-size: 16px;
        position: fixed;
        bottom: 0;
        height: 1.5em;
        width: 50em;
        border-top: 3px solid #f8f8f8;
        background-color: #F4F4F4;
        border-top-color: #EEEEEE;
        margin-left: -0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #footer-text {
        font-size: small;
    }
}